<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">


  <?if $(sys.BUILDARCH) = x64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>

  <Product Id="*" Name="Stubby" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Sinodun Internet Technologies Ltd." UpgradeCode="af30ca25-b1c5-404b-b1f1-d988dc7ca1a7">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="Stubby">
          <Directory Id="Platforms" Name="platforms" />
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="FACTORYDATAFOLDER" Name="Stubby" />
      </Directory>
    </Directory>

    <InstallExecuteSequence>
      <Custom Action="CreateScheduledTask" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="CreateScheduledTaskId" After="CostFinalize">NOT Installed </Custom>
      <Custom Action="DeleteScheduledTaskId" After="CostFinalize">Installed</Custom>
      <Custom Action="DeleteScheduledTask" Before="RemoveFiles">Installed </Custom>
    </InstallExecuteSequence>

    <!--Create StubbyManager Scheduled Task-->
    <CustomAction Id="CreateScheduledTaskId"
               Property="CreateScheduledTask"
               Return="ignore"
               Execute="immediate"
               Value="&quot;[SystemFolder]SCHTASKS.EXE&quot; /CREATE /TN &quot;StubbyManager&quot; /XML &quot;[INSTALLFOLDER]StubbyManager.xml&quot; /RU &quot;[%USERDOMAIN]\[LogonUser]&quot;" />

    <CustomAction Id="CreateScheduledTask"
              Return="ignore"
              Impersonate="no"
              Execute="deferred"
              BinaryKey="WixCA"
              DllEntry="CAQuietExec" />

    <!--Delete StubbyManager Scheduled Task-->
    <CustomAction Id="DeleteScheduledTaskId"
              Property="DeleteScheduledTask"
              Return="ignore"
              Execute="immediate"
              Value="&quot;[SystemFolder]SCHTASKS.EXE&quot; /DELETE /TN &quot;StubbyManager&quot; /F" />

    <CustomAction Id="DeleteScheduledTask"
              Return="ignore"
              Impersonate="no"
              Execute="deferred"
              BinaryKey="WixCA"
              DllEntry="CAQuietExec" />

    <FeatureRef Id="StubbyFeature" />
    <FeatureRef Id="StubbyManangerFeature" />
  </Product>

  <Fragment>
    <ComponentGroup Id="StubbyManangerComponents" Directory="INSTALLFOLDER">
      <Component Id="stubby_gui.exe">
        <File Id="stubby_gui.exe" Source="Stubby/stubby_gui.exe"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="StubbySetDns.ps1">
        <File Id="StubbySetDns.ps1" Source="Stubby/StubbySetDns.ps1"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="pcre.dll">
        <File Id="pcre.dll" Source="Stubby/pcre.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="yaml_cpp.dll">
        <File Id="yaml_cpp.dll" Source="Stubby/yaml-cpp.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="zlib1.dll">
        <File Id="zlib1.dll" Source="Stubby/zlib1.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="libctemplate.dll">
        <File Id="libctemplate.dll" Source="Stubby/libctemplate.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PocoFoundation.dll">
        <File Id="PocoFoundation.dll" Source="Stubby/PocoFoundation.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PocoNet.dll">
        <File Id="PocoNet.dll" Source="Stubby/PocoNet.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Qt5Core.dll">
        <File Id="Qt5Core.dll" Source="Stubby/Qt5Core.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Qt5Gui.dll">
        <File Id="Qt5Gui.dll" Source="Stubby/Qt5Gui.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Qt5Network.dll">
        <File Id="Qt5Network.dll" Source="Stubby/Qt5Network.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Qt5Widgets.dll">
        <File Id="Qt5Widgets.dll" Source="Stubby/Qt5Widgets.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <!-- MSVC runtime files - these names for VS2019 -->
      <Component Id="msvcp140.dll">
        <File Id="msvcp140.dll" Source="Stubby/msvcp140.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="msvcp140_1.dll">
        <File Id="msvcp140_1.dll" Source="Stubby/msvcp140_1.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="vcruntime140.dll">
        <File Id="vcruntime140.dll" Source="Stubby/vcruntime140.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <?if $(sys.BUILDARCH) = x64 ?>
        <Component Id="vcruntime140_1.dll">
          <File Id="vcruntime140_1.dll" Source="Stubby/vcruntime140_1.dll"  KeyPath="yes" Checksum="yes"/>
        </Component>
      <?endif ?>
      <Component Id="StubbyManager.xml">
        <File Id="StubbyManager.xml" Source="Stubby/StubbyManager.xml"  KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="StubbyManangerComponentsPlatforms" Directory="Platforms">
      <Component Id="qwindows.dll">
        <File Id="qwindows.dll" Source="Stubby/qwindows.dll"  KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="StubbyManangerFactoryData" Directory="FACTORYDATAFOLDER">
      <Component Id="stubbytemplate.yml">
        <File Id="stubbytemplate.yml" Source="Stubby/stubbytemplate.yml"  KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="netprofile_defaults.yml">
        <File Id="netprofile_defaults.yml" Source="Stubby/netprofile_defaults.yml"  KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Stubby">
          <Component Id="StubbyManagerShortcut">
            <Shortcut Id="StubbyManagerStartMenuShortcut"
                      Name="Stubby Manager"
                      Description="Stubby manager GUI"
                      Target="[#stubby_gui.exe]"
                      WorkingDirectory="INSTALLFOLDER" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue
                Root="HKCU"
                Key="Software\Sinodun\Stubby Manager"
                Name="installed"
                Type="integer"
                Value="1"
                KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <Feature Id="StubbyManangerFeature" Title="Stubby Manager" Level="1">
      <ComponentGroupRef Id="StubbyManangerComponents" />
      <ComponentGroupRef Id="StubbyManangerComponentsPlatforms" />
      <ComponentGroupRef Id="StubbyManangerFactoryData" />
      <ComponentRef Id="StubbyManagerShortcut" />
    </Feature>

  </Fragment>

</Wix>
